:root {
  --titles: #171717;
  --subtitles: #525252;
  --border1: #4b5563;
  --accent1: #2563eb;
  --accent2: #102a43;
  --white1: #ffffff;
  --card-color: #1f2937;
  --tabs-color: #e2e8f0;
}
.projects-hero {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  min-height: 500px;
  background-color: var(--accent2);
  color: black;
  align-items: center; /* Centers content vertically */
  padding: 50px 0 0px 160px; /* Padding on the left, none on right to let image sit tight */
  overflow: hidden;
}

.projects-hero-content {
  padding-right: 60px;
}

.projects-hero-content h1 {
  font-weight: 800;
  color: var(--accent1);
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.projects-hero-content p {
  line-height: 1.6;
  font-size: 18px;
  color: var(--white1);
  margin-bottom: 30px;
}

/* The Horizontal Line */
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--white1);
  margin-bottom: 30px;
}

.projects-stats {
  display: flex;
  gap: 60px;
}

.stat-item h2 {
  font-size: 60px;
  color: var(--white1);
  margin: 0;
}

.stat-item span {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--white1);
}

/* The Image Container with Rounded Corners */
.projects-hero-image-container {
  height: 90%; /* Slight gap from top/bottom */
  width: 100%;
}

.projects-hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This creates the rounded "cut-out" look from the image */
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

/* TABS */
.project-tabs {
  display: flex;
  gap: 10px;
  background: var(--tabs-color);
  padding: 50px 160px;
  justify-content: center;
}

.project-tabs span {
  padding: 10px 15px;
  background: white;
  border: 1px solid var(--accent2);
  font-size: 18px;
  color: var(--subtitles);
}

.project-tabs .active {
  background: var(--accent2);
  color: white;
}

/* PROJECT GRID */
.projects-main {
  padding: 50px 160px;
}
.project-construction-container {
  max-width: 900px;
}
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.project-card {
  background: var(--white1);
  border-radius: 10px;
  border: 1px solid var(--border1);
}
.project-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-info {
  padding: 30px;
  background: var(--white1);
}
.project-info h3 {
  font-size: 36px;
  color: var(--titles);
  margin-bottom: 10px;
}
.project-info p {
  font-size: 18px;
  color: var(--subtitles);
}
/* ENVIRONMENTAL */
.environmental {
  padding: 50px 160px;
}
.environmental-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.env-right img {
  width: 100%;
  height: 350px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.environmental-list ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
.environmental-list p {
  font-size: 18px;
}
.environmental-list-title {
  font-size: 36px;
  color: var(--titles);
  margin-bottom: 10px;
}
/* MILITARY */
.military {
  padding: 50px 160px;
}

.military-card {
  display: flex;
  gap: 20px;
  background: var(--accent2);
  color: white;
  padding: 30px;
  margin-bottom: 20px;
}

.military-card.light {
  background: #f1f1f1;
  color: black;
}

.military-card img {
  width: 150px;
  height: auto;
  object-fit: contain;
}
.military-card h3,
.military-card.light h3 {
  font-size: 36px;
  margin: 0;
}

.military-card p,
.military-card.light p {
  font-size: 18px;
  margin: 0;
}
.military-card button {
  margin-top: 15px;
  padding: 10px 20px;
  background: var(--accent1);
  color: white;
  border: none;
  cursor: pointer;
  float: right;
}
/* CIVIL */
.civil {
  background: var(--accent2);
  padding: 50px 160px;
}

.civil p {
  color: var(--white1);
}
.civil-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.civil-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.civil-card h4 {
  font-size: 36px;
  color: var(--white1);
  margin-bottom: 10px;
}
.civil-card p {
  font-size: 18px;
  color: var(--white1);
}
.civil-cta {
  background: var(--accent1);
  padding: 50px;
}

.civil-cta h3 {
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
}

.civil-cta p {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}
.civil-cta a {
  padding: 20px;
  width: 100%;
  background: white;
  color: var(--accent1);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
